#header {
    display: flex;
    align-items: center;
    padding: 16px 51px;
}

.logo {
    width: 160px;

    img {
        width: 100%;
        height: auto;
    }
}

#nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.main__menu {
    @extend %listreset;

    li {
        display: inline-block;
        vertical-align: top;

        +li {
            margin-left: 30px;
        }
    }

    a {
        text-decoration: none;
    }
}

.widget_language_switcher {
    margin-right: 30px;

    h3 {
        display: none;
    }

    ul {
        margin-top: 0;
    }
}

.widget_search {
    position: relative;

    label {
        @extend .sr-only !optional;
    }

    [type=submit] {
        background: none;
        padding: 0;
        margin-left: 0;
        position: absolute;
    }
}