#header {
    background: $milky-white;
    padding: 16px 0;
    position: relative;
    z-index: 4;

    .container {
        display: flex;
        align-items: center;
    }

    .dropdown {
        margin-left: 11px;
    }

    .wishlist .dropdown__opener,
    .cart .dropdown__opener {
        color: $dark-gunmetal;
        width: 36px;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        &:hover {
            background: $white;
        }
    }

    .language {
        order: 2;
        margin: 0 0 20px auto;

        @include media('>=desktop') {
            order: unset;
            margin-bottom: 0;
        }

        .dropdown__opener {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .search__form {
        order: 1;
        margin-bottom: 20px;

        @include media('>=desktop') {
            margin: 0 10px 0 20px;
            order: unset;
        }
    }

    .holder {
        text-align: right;
        order: 3;

        @include media('>=desktop') {
            text-align: unset;
            order: unset;
        }
    }

    .cart--notification,
    .wishlist--notification {
        display: inline-block;
        vertical-align: middle;

        .dropdown__opener {
            position: relative;

            &::before {
                content: '';
                background: $warning;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                position: absolute;
                top: 3px;
                right: 3px;
            }
        }
    }
}

.logo {
    width: 160px;

    img {
        width: 100%;
        height: auto;
    }
}

#nav {
    @include animate(transform);
    background: $primary-dark;
    width: 320px;
    min-height: 100vh;
    font-weight: 300;
    filter: drop-shadow(0 1px 7px rgba($smoky-black, 0.5));
    display: flex;
    flex-direction: column;
    padding: 130px 20px 20px;
    transform: translateX(-110%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9;

    @include media(">=desktop") {
        background: none;
        width: auto;
        min-height: 0;
        flex-grow: 1;
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 57px;
        filter: none;
        position: static;
        transform: none;
    }

    @include media('>=widescreen') {
        padding-left: 63px;
    }

    .nav--active & {
        transform: translateX(0);

        @include media('>=desktop') {
            transform: none
        }
    }
}

.nav__opener {
    @include animate(background);
    color: $dark-gunmetal;
    width: 36px;
    font-size: 14px;
    line-height: 1;
    aspect-ratio: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 20px;

    &:hover {
        background: $white;
    }

    .nav--active & {
        background: $white;
        transform: rotate(45deg)
    }

    .icon-add {
        display: none;

        .nav--active & {
            display: block;
        }
    }

    .nav--active & .icon-menu {
        display: none;
    }
}

.main__menu {
    @extend %listreset;
    margin-bottom: 40px;
    order: 4;

    @include media('>=desktop') {
        margin-bottom: 0;
        order: unset;
    }

    li {
        margin-bottom: 10px;

        @include media('>=desktop') {
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
        }

        +li {
            @include media('>=desktop') {
                margin-left: 15px;
            }

            @include media('>=widescreen') {
                margin-left: 33px;
            }
        }
    }

    a {
        @include animate(color);
        text-transform: uppercase;
        font-weight: 500;
        color: $milky-white;
        text-decoration: none;
        outline: none;

        @include media('>=desktop') {
            color: $dark-gunmetal;
            text-transform: none;
        }

        &:focus,
        &:hover {
            color: $primary;
        }
    }
}

.nav__drop {
    @include animate(transform);
    font-weight: 300;
    order: 5;

    @include media(">=desktop") {
        background: $primary-dark;
        width: 320px;
        min-height: 100vh;
        filter: drop-shadow(0 1px 7px rgba($smoky-black, 0.5));
        transform: translateX(-110%);
        padding: 20px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;

    }

    .nav--active & {
        @include media('>=desktop') {
            transform: translateX(0);
        }
    }

    .greetings {
        color: $milky-white;
        font-weight: 300;
        font-size: 120%;
        display: block;
        position: absolute;
        top: 20px;
        left: 20px;

        @include media('>=desktop') {
            position: static;
        }

        span {
            font-weight: 700;
            font-size: 200%;
            display: block;
        }
    }

    .nav__opener {
        position: absolute;
        top: 20px;
        right: 0;

        @include media('>=desktop') {
            margin: 0 0 10px auto;
            position: static;
        }
    }

    .link {
        @include animate(color);
        color: $primary-light;
        text-transform: uppercase;
        text-decoration: underline;
        font-size: 80%;
        display: inline-block;
        vertical-align: top;
        outline: none;
        position: absolute;
        top: 90px;
        left: 20px;

        @include media('>=desktop') {
            position: static;
            margin-bottom: 20px;
        }

        &:hover,
        &:focus {
            color: $milky-white;
        }
    }
}

.secondary__menu {
    @extend %listreset;
    background: $white;
    margin: 0 -20px;

    a {
        @include animate(background color);
        @extend .icon-caret-r;
        text-decoration: none;
        color: $primary-light;
        display: block;
        padding: 11px 12px 9px;
        border-bottom: 1px solid rgba($charcoal-black, 0.1);
        position: relative;

        &:hover {
            background: $primary;
            color: $milky-white;
        }

        &::before {
            font: 9px/1 icomoon;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
        }
    }

    .text {
        text-transform: uppercase;
        color: $philippine-silver;
        display: block;
        padding: 20px 12px 0;
    }
}

.search__form {
    position: relative;

    label {
        @extend .sr-only !optional;
    }

    [type=submit] {
        background: none;
        font-size: 18px;
        line-height: 1;
        padding: 0;
        border: none;
        margin-left: 0;
        position: absolute;
        top: 0;
        left: 16px;
        bottom: 0;
    }

    [type=search] {
        width: 100%;
        padding: 5px 20px 5px 40px;

        @include media('>=desktop') {
            width: 250px;
        }
    }

    .fieldset {
        padding: 0;
        margin: 0;
        border: none;
    }
}

.admin__main__menu {
    @extend %listreset;
    background: $white;
    max-height: calc(100vh - 195px);
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;

    a {
        @include animate(background color);
        text-decoration: none;
        color: $primary-light;
        display: block;
        padding: 11px 12px 9px;
        border-bottom: 1px solid rgba($charcoal-black, 0.1);
        position: relative;

        &:hover {
            background: $primary;
            color: $milky-white;
        }
    }

    .has--children {
        >a {
            @extend .icon-caret-r;

            &::before {
                @include animate(transform);
                font: 9px/1 icomoon;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
            }
        }

        &.show-children {
            background: $milky-white;

            &.has--children > a::before {
                transform: translateY(-50%) rotateZ(90deg);
            }

            ul {
                max-height: 800px;
            }
        }

        ul {
            @include animate(max-height);
            will-change: max-height;
            max-height: 0;
            overflow: hidden;
        }
    }

    svg {
        width: 1rem;
        aspect-ratio: 1;
        display: inline-block;
        vertical-align: middle;
    }

    .router-link-exact-active {
        background: $primary;
        color: $milky-white;
    }

    .text {
        text-transform: uppercase;
        color: $philippine-silver;
        display: block;
        padding: 20px 12px 0;
    }

    ul {
        @extend %listreset;
        background: $milky-white;
    }
}

.menu__link {
    @include animate(color);
    color: $primary-dark;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 11px 12px 9px;

    &:hover {
        color: $philippine-silver;
    }

    svg {
        width: 1.25rem;
        height: 1.25rem;
        display: inline-block;
        vertical-align: middle;
        margin-top: -3px;
    }
}