.badge {
    font-size: 80%;
    font-style: normal;
    display: inline-block;
    vertical-align: top;
    padding: 0.0625rem 0.5rem;
    border-radius: 0.125rem;

    &__group {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }

    &--info {
        background: $white;
        color: $philippine-silver;
    }
}