.custom__file {
    display: block;
    cursor: pointer;

    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;
    }

    &__text {
        text-align: center;
        display: block;
        padding: 8px 15px;
        border: 1px dashed $light;
        border-radius: 4px;

        &--has__files{
            border-color: $dark;
        }
    }

    &__list {
        padding: 0 0 0 15px;
        margin: 0;
        text-align: left;

        &__item {
            margin-bottom: 5px;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                @include animate(background);
                background: $white;
                width: 35px;
                color: $dark-gunmetal;
                height: 35px;
                text-decoration: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                transform: rotateZ(45deg);
                position: relative;
                border-radius: 50%;
                outline: none;

                &:focus,
                &:hover {
                    background: $milky-white;
                }
            }

            img {
                width: 60px;
                aspect-ratio: 1;
                object-fit: contain;
                border: 1px solid $primary;
                border-radius: 3px;
            }
        }
    }
}