@use 'sass:color';

.datatable {
    &__section {
        background: $milky-white;
        max-width: 992px;
        border-radius: 4px;
        border: 1px solid #e8eaed;
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #e8eaed;

        &__holder {
            flex-grow: 1;

            h1 {
                font-size: 32px;
                margin-bottom: 0;
            }
        }

        &__action {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    &__body {
        padding: 20px;

        table {
            width: 100%;
            border-spacing: 0;

            th {
                color: rgba($charcoal-black, 0.3);
                font-weight: 500;
            }

            th,
            td {
                vertical-align: top;
                padding: 5px;
                border-bottom: 1px dashed rgba($charcoal-black, 0.05);
            }

            td {
                .btn+.btn {
                    margin-left: 5px;
                }
            }

            tr:last-child td {
                border-bottom: none;
            }

            .sn {
                width: 40px;
                color: $philippine-silver;
            }

            .id {
                text-transform: uppercase;
                font-size: 11px;
                color: $philippine-silver;

                svg {
                    width: 11px;
                }
            }

            .title {
                color: $dark-gunmetal;
                font-size: 1.1rem;
                display: block;

                &[href] {
                    @include animate(color);
                    text-decoration: none;

                    &:hover {
                        color: $primary;
                    }
                }
            }

            .subtitle {
                font-style: normal;
                display: block;
                opacity: 0.5;
            }

            .wrap {
                max-width: 400px;
                display: flex;
            }

            .image {
                max-width: 50px;
                flex: 50px 0 0;
                aspect-ratio: 1;
                padding: 5px;
                margin: 0 10px 0 0;
                border: 1px solid $philippine-silver;
                border-radius: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .holder {
                flex-grow: 1;
            }
        }

        .subtable {
            background: color.adjust($milky-white, $lightness: -5%);
            border-radius: 5px;
            margin: 20px 0;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-top: 1px solid #e8eaed;

        .pagination {
            margin-left: auto;
        }
    }

    &__loading {
        td {
            background: $white;
            height: 21px;
            animation: blink 1s linear infinite alternate var(--delay);
            border-style: solid;
            border-color: $milky-white;
            border-width: 0 2px 2px 0;

            &:last-child {
                border-right-width: 0;
            }
        }
    }
}

@keyframes blink {
    0% {
        background-color: $white;
    }

    100% {
        background-color: $charcoal-black;
    }
}