@use 'sass:color';

.dropdown {
    $dropdown: &;
    position: relative;

    &__opener {
        @include animate(border-color background color);
        text-decoration: none;
    }

    &__holder {
        @include animate(opacity visibility);
        background: $milky-white;
        min-width: 320px;
        border-radius: 4px;
        filter: drop-shadow(0 1px 7px rgba($smoky-black, 0.5));

        &::before {
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 5px 5px;
            border-color: transparent transparent color.adjust($milky-white, $lightness: -5%);
            position: absolute;
            bottom: 100%;
            right: 10px;

            @include media('>=desktop') {
                content: '';
            }
        }
    }

    &__menu {
        backdrop-filter: blur(4px);
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        opacity: 0;
        visibility: hidden;

        @include media('>=desktop') {
            width: auto;
            height: auto;
            transform: none;
            position: absolute;
            top: 100%;
            right: 0;
            left: auto;
        }

        &#{$dropdown}--active {
            opacity: 1;
            visibility: visible;
        }
    }
}