@use 'sass:math';
@use 'sass:color';

.product {
    $product: &;

    &__section {
        padding: 63px 0 15px;

        &__header {
            text-align: center;
            margin-bottom: 33px;

            h2 {
                color: $dark-gunmetal;
                font-weight: 700;
            }
        }
    }

    &__category {
        letter-spacing: 0.01em;
        font-style: normal;
        display: block;
    }

    &__price {
        font-style: normal;
        font-weight: 700;
        display: block;
    }

    &__item {
        $item: &;
        position: relative;
        z-index: 1;

        &__image {
            background: radial-gradient(50% 50% at 50% 50%, $milky-white 0%, #F8F9FB 100%);
            min-height: 230px;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        &--promotion {
            border: none;
            overflow: hidden;

            @include media('>=tablet') {
                grid-column: 3 / span 2;
            }

            img {
                max-width: none;
                width: 100%;
            }

            #{$item}__image {
                min-height: 0;
            }

            #{$item}__detail {
                width: 45%;
                padding: 35px 0 0 25px;
                text-align: left;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                z-index: 4;
                
                @include media('>=tablet') {
                    padding: 91px 0 0 50px;
                }

                h3 {
                    color: $smoky-black;
                    font-weight: 700;
                    font-size: 20px;
                    margin-bottom: 10px;

                    @include media('>=tablet') {
                        font-size: 24px;
                    }
                }
            }

            &--centered {
                #{$item}__detail {
                    padding: 12px 30px 0;
                    width: auto;
                    text-align: center;
                    right: 0;
                    left: 0;
                    
                    @include media('>=tablet') {
                        padding: 38px 60px 0;
                    }
                }
            }
        }

        &__detail {
            padding: 17px 15px 24px;

            h3 {
                color: #3E4E5B;
                margin-bottom: 0;

                a {
                    @include animate(color);
                    color: inherit;
                    text-decoration: none;
                    outline: none;

                    &:hover {
                        color: $primary-dark;
                    }
                }
            }

            #{$product}__category {
                margin-bottom: 16px;
            }

            #{$product}__price {
                color: $primary;
            }
        }

        &__action {
            @include animate(opacity visibility);
            padding: 20px 0;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 4;

            .btn {
                width: 130px;

                [class^=icon-] {
                    font-size: 77%;
                    margin-right: 5px;
                }
            }
        }

        &__list {
            &--list {
                #{$item} {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    border-bottom: 1px solid $philippine-silver;

                    &:last-child {
                        border-bottom: none;
                    }

                    &__image {
                        flex: 100px 0 0;
                        aspect-ratio: 1;
                        min-height: 0;

                        img {
                            max-width: 80%;
                        }
                    }

                    .dropdown & {
                        &:first-child {
                            #{$item}__detail {
                                border-radius: 0 4px 0 0;
                            }
                        }

                        &:last-child {
                            #{$item}__detail {
                                border-radius: 0 0 4px 0;
                            }
                        }

                        h3 {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                        }
                    }

                    &__detail {
                        background: color.adjust($milky-white, $lightness: -5%);
                        flex: calc(100% - 100px) 0 0;
                        padding: 20px 10px 30px;

                        h3 {
                            margin-bottom: 0;
                        }


                    }

                    &__action {
                        text-align: right;
                        flex: 100% 0 0;
                        padding-left: 100px;
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        left: 10px;
                    }
                }
            }

            &--grid {
                display: grid;
                gap: $grid-gutter-width;
                // grid-template-columns: repeat(1, 1fr);

                @include media('>=tablet') {
                    grid-template-columns: repeat(4, 1fr);
                }

                #{$item}:hover #{$item}__action {
                    opacity: 1;
                    visibility: visible;
                }

                #{$item}__action {
                    opacity: 0;
                    visibility: hidden;
                }

                #{$item} {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #E5E9EA;
                }
            }
        }
    }
}