.main__banner {
    background: linear-gradient(270deg, rgba(187, 184, 183, 0.1) 5.14%, #9A9796 38.34%);
    color: $white;
    position: relative;
    z-index: 1;

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__caption {
        font-size: 18px;
        height: calc(100vh - 80px);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 0;

        .container {
            width: 100%;
        }

        h1 {
            margin-bottom: 23px;
        }

        p {
            margin-bottom: 20px;
        }

        .holder {
            max-width: 440px;
        }

        .btn__primary {
            width: 200px;
            letter-spacing: 0.05em;
            margin-right: 16px;
        }

        .btn__light {
            width: 117px;
        }
    }
}

.flash__message {
    color: $dark-gunmetal;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 16px 0 14px;

    &:hover .icon-arrow-d {
        animation: none;
    }

    .icon-bolt {
        color: $warning;
        font-size: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;
    }

    .icon-arrow-d {
        color: $philippine-silver;
        font-size: 10px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 16px;
        animation: pulse 0.7s linear infinite;
    }
}

.faq {
    &__section {
        padding-top: 63px;

        @include media('>=tablet') {
            padding-bottom: 63px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }

        .accordion {
            @include media('>=tablet') {
                padding-right: 31px;
            }
        }
    }
}

.testimonial__section {
    padding: 63px 0;

    h2 {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.services {
    &__section {
        background: #F3F3F3;
        text-align: center;
        padding: 60px 0;
    }

    &__item {
        margin-bottom: 40px;

        @include media('>=tablet') {
            margin-bottom: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        h3 {
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 8px;
        }

        p {
            margin-bottom: 0;
        }

        .icon__holder {
            background: #B7B5B4;
            width: 54px;
            height: 54px;
            margin: 0 auto 33px;
        }
    }
}

.info {
    &__section {
        background: $smoky-black;
        color: $milky-white;
        overflow: hidden;
        margin-bottom: 60px;

        .holder {
            max-width: 400px;
            padding: 20px;
            margin-right: 50px;
            margin-left: auto;

            h2 {
                font-size: 24px;
                margin-bottom: 0;
            }

            em {
                font-style: normal;
                font-size: 16px;
                display: block;
                margin-bottom: 20px;
            }
        }

        .check__list {
            color: #fdfdfd;
        }

        .btn {
            width: 210px;
        }

        .video__block {
            @extend .icon-play-c !optional;
            display: block;
            position: relative;

            &:before {
                font: 48px/1 icomoon;
                text-decoration: none;
                color: #fafafa;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }

            &::after {
                background: rgba($smoky-black, 0.1);
                content: '';
                position: absolute;
                inset: 0;
            }

            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.support {
    color: #3E4E5B;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    padding: 14px;
    margin-bottom: 16px;
    border: 16px solid;

    .icon__holder {
        font-size: 24px;
        line-height: 1;
        flex: 44px 0 0;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        border-radius: 50%;
    }

    &--success {
        border-color: #BDDCBD;

        h3 {
            color: #228B22;
        }

        .icon__holder {
            background: #F4FAEA;
            color: #228B22;
        }
    }

    &--warning {
        border-color: #FEE6BA;

        h3 {
            color: #E19C17;
        }

        .icon__holder {
            background: #FFF7E8;
            color: #E19C17;
        }
    }
}

.blog {
    &__section {
        padding: 60px 0;

        &__header {
            text-align: center;
            margin-bottom: 50px;

            h2 {
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 0;
            }
        }

        .post {
            margin-bottom: 16px;

            @include media('>=tablet') {
                margin-bottom: 0;
            }
        }
    }
}

.post {
    $post: &;

    &:hover #{$post}__action {
        opacity: 1;
        visibility: visible;
    }

    &__image {
        margin-bottom: 16px;

        img {
            width: 100%;
            height: auto;
        }
    }

    &__meta {
        margin-bottom: 16px;
    }

    &__category {
        background: #F6EEEA;
        color: #3E4E5B;
        letter-spacing: 0.02em;
        font-style: normal;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
        margin-right: 8px;
        border-radius: 4px;
    }

    &__detail {
        color: #3E4E5B;

        h3 {
            color: $dark-gunmetal;
            margin-bottom: 8px;

            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    &__action {
        @include animate (opacity visibility);
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes pulse {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(50%);
        opacity: 1;
    }
}