@font-face {
  font-family: "EK Mukta";
  src: url("fonts/ekmukta-extralight.woff2") format("woff2"),
    url("fonts/ekmukta-extralight.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "EK Mukta";
  src: url("fonts/ekmukta-light.woff2") format("woff2"),
    url("fonts/ekmukta-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "EK Mukta";
  src: url("fonts/ekmukta-regular.woff2") format("woff2"),
    url("fonts/ekmukta-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EK Mukta";
  src: url("fonts/ekmukta-medium.woff2") format("woff2"),
    url("fonts/ekmukta-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "EK Mukta";
  src: url("fonts/ekmukta-semibold.woff2") format("woff2"),
    url("fonts/ekmukta-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EK Mukta";
  src: url("fonts/ekmukta-bold.woff2") format("woff2"),
    url("fonts/ekmukta-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "EK Mukta";
  src: url("fonts/ekmukta-extrabold.woff2") format("woff2"),
    url("fonts/ekmukta-extrabold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
